@font-face {
  font-family: Moderne Sans;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2);
}
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  background-image: url(img/blue-sky-blur-clear-sky-color-281260.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

.header {
  padding: 3vh;
  width: 100%;
  text-align: center;
  color: white;
  transition: 0.4s;
  height: fit-content;
}

.header h1 {
  font-family: "Bungee";
  text-align: center;
  font-size: 5vw;
  width: 100%;
  letter-spacing: 1vh;
  padding: 0.5vw;
  margin-bottom: 20px;
  margin-top: 20px;
}

.header:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}

nav a {
  text-decoration: none;
  font-size: 1.75vw;
  color: inherit;
  padding: 4vw;
  font-family: Moderne Sans, sans-serif;
}

nav a:hover {
  text-decoration: underline;
  color: black;
}

.card {
  font-family: Moderne Sans, sans-serif;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #fff;
}

.card:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card .header h2,
h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.card-title {
  font-size: 3vw;
}

.card-text {
  font-size: 2.25vw;
}

li {
  font-size: 1.5vw;
}

a {
  font-size: 1.5vw;
}

.card .header {
  margin-bottom: 5px;
}
.card img {
  width: 100%;
}
